.header {
    background-color: rgb(230, 211, 247);
    height: 70px;
    padding: 5px;
    width: 99.3%;
}
.header img {
    width:60px;
    height:60px;
}
.header h1 {
    color:green;
    font-family: 'Times New Roman', Times, serif, serif;
    font-size:4vmax;
    margin-left: 200px;
    margin-top: 0px;
    display: inline-block;
    position: absolute;
}
.menu {
    float:right;

}
.menu ul {
    padding: 10px;
}
.menu ul li {
    display:inline-block;
    margin-right: 20px;
}
.menu ul li:hover {
    background-color: darkturquoise;
}
.content {
    float: right;
    width: 80%;
    height: 700px;
}
.content #home img {
    height :700px;
    width: 1065px;
    opacity: 0.5;
}
.content h1 {
    position:absolute;
    width: 1065px;
}
.content h1 marquee span {
    padding-left: 700px;
}
.content #history {
    border: 2px solid blue;
    height : 20%;
}
.content #history {
    text-align: center;
}
.baris {
    padding-left: 40%;
}
.baris p {
    float:left;
    padding: 10px;
    border: 2px solid whitesmoke;
}
.baris p:hover {
    background-color: blue;
}
#about {
    text-align: center;
    border: 2px solid green;
    height: 30%;
}
#Bantuan {
    padding-left: 5px;
}
#Bantuan table tr td {
    padding-bottom: 5px;
}

.sidebar {
   background: rgb(252, 186, 179);
    float: left;
    height: 1400px;
    width: 19.7%;
    position: absolute;
}

.footer {
    background: black;
    clear:both;
    height: 40px;
    width: 100%;
}
.footer p {
    color: white;
    text-align: center;
    padding-top: 5px;
    clear:both;
}